html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}



nav {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;

}

li a {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #979763;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    
}


a {
    text-decoration: solid;
    color: black;
    margin-right: 30px;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}


header {
    background-color: #c79797;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

h1 {
    color: white;
}

#homework {
    text-align: center;
    padding-bottom: 30px;
}

#tutorials {
    text-align: center;
    padding-bottom: 30px;
}

#projects {
    text-align: center;
    padding-bottom: 30px;
}

#aesthetic {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-left: auto;
    margin-left: auto;

}


#aesthetic img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}




h2 {
    font-family: 'Quicksand', sans-serif;
}

footer {
    padding-left: 650px;
    background-color: lightgray;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Quicksand', sans-serif;
}







