html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Your CSS Code Here! */

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    padding: 25px;
    background-color: #979763;
}


a {
    text-decoration: solid;
    color: white;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}

header {
    background-color: #c79797;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Quicksand', sans-serif;
}


header h1 {
    color: white;
    text-align: center;
}

header img {
    border-radius: 25px;
    width: 200px;
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

footer {
    background-color: lightgray;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#twice {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}


#twice a {
    color: black;
    text-align: center;
}


#twice img {
    justify-content: center;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
}

#albums {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
}

#albums a {
    text-align: center;
    color: black;
}

#blackpink {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;

}


#blackpink img {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}